.category-title {
    color: #0b3e6f;
}

.category-box {
    margin-top: 50px
}

.hot-news-box{
    margin-top: 30px;
}

.widget-title {
    color: #0b3e6f;
    font-size: 20px;
    margin-left: 5px;
}

.category-box1 {
    color: #0b3e6f;
    font-size: 20px;
    margin-left: 5px;
}

.hot-news{
    color: #0b3e6f;
    font-size: 20px;
    margin-left: 5px;
}

.category-tags {
    margin-top: 10px
}


.widget-archives {
    margin-top: 30px
}

.date-box {
    margin-top: 10px
}

.li-hot-news{
    margin-top: 10px;
}