{% extends 'blog/base.html' %}


{% block content %}
    <div class="container" style="margin-top: 50px">
        <h3>
            我发布的文章:
        </h3>
        <div class="row col-xs-12">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th class="col-xs-4">文章标题</th>
                    <th class="col-xs-2">文章分类</th>
                    <th class="col-xs-2">发布时间</th>
                    <th class="col-xs-2">获得的赞数</th>
                    <th class="col-xs-2">阅读数</th>
                </tr>
                </thead>
                <tbody>
                {% for personal_news in personal_newses %}
                    <tr>
                        <td>{{ personal_news.title }}</td>
                        <td>{{ personal_news.category.name }}</td>
                        <td>{{ personal_news.pub_time }}</td>
                        <td>{{ personal_news.up_num }}</td>
                        <td>{{ personal_news.views }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}